<h3>Related Predictions({{ data }}) :</h3>
<div class="inner_block">
    <div class="owl-carousel owl-carousel-upcoming">
        <div class="items">
            <div class="row">
                <div class="col_6">
                    <a href="#"><img width="100%" src="assets/img/blog1.webp" alt=""></a>
                </div>
                <div class="col_4">
                    <span class="category">Cricket Predictions</span>
                    <div class="blog_title">
                        <h6 href="#"> India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match
                            between IND vs
                            AUS?</h6>
                    </div>
                    <div class="blog_footer">
                        <span class="small_text">14 Oct 2023 | 36 Min</span>
                        <span><button (click)="navigate('single-blog')" class="accent_btn">Read more </button></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 -->
        <div class="items">
            <div class="row">
                <div class="col_6">
                    <a href="#"><img width="100%" src="assets/img/South-Africa-women (1).webp" alt=""></a>
                </div>
                <div class="col_4">
                    <span class="category">Cricket Predictions</span>
                    <div class="blog_title">
                        <h6 href="#"> India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match
                            between IND vs
                            AUS?</h6>
                    </div>
                    <div class="blog_footer">
                        <span class="small_text">14 Oct 2023 | 36 Min</span>
                        <span><button (click)="navigate('single-blog')" class="accent_btn">Read more </button></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 -->

        <div class="items">
            <div class="row">
                <div class="col_6">
                    <a href="#"><img width="100%" src="assets/img/Bangladesh.webp" alt=""></a>
                </div>
                <div class="col_4">
                    <span class="category">Cricket Predictions</span>
                    <div class="blog_title">
                        <h6 href="#"> India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match
                            between IND vs
                            AUS?</h6>
                    </div>
                    <div class="blog_footer">
                        <span class="small_text">14 Oct 2023 | 36 Min</span>
                        <span><button (click)="navigate('single-blog')" class="accent_btn">Read more </button></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 -->

        <div class="items">
            <div class="row">
                <div class="col_6">
                    <a href="#"><img width="100%" src="assets/img/blog1.webp" alt=""></a>
                </div>
                <div class="col_4">
                    <span class="category">Cricket Predictions</span>
                    <div class="blog_title">
                        <h6 href="#"> India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match
                            between IND vs
                            AUS?</h6>
                    </div>
                    <div class="blog_footer">
                        <span class="small_text">14 Oct 2023 | 36 Min</span>
                        <span><button (click)="navigate('single-blog')" class="accent_btn">Read more </button></span>
                    </div>
                </div>
            </div>
        </div>

    </div>  
    
</div>