<section>
    <div class="owl-carousel owl-carousel-hero">
        <div class="item"><img src="assets/img/slider-222.jpg" alt="Image 1"></div>
        <div class="item"><img src="assets/img/slider-222.jpg" alt="Image 2"></div>
    </div>
</section>

<!-- next-match -->
<section class="container">
    <app-upcoming-mslider></app-upcoming-mslider>
</section>
<br>
<!-- previous-match -->
<section class="container">
    <app-previous-match></app-previous-match>
</section>
<br>
<br>
<!-- ads  -->
<section class="container ads_sections">
    <img src="assets/img/Screenshot_8.png" width="100%" alt="ads image">
</section>


<section class="container">
    <h2 class="title">Cricket match predictions</h2>
    <div class="blog_predictions">
        <div class="blog_predictions_wrap">
            <div class="col_7 bg_border">
                <app-archived-blogs></app-archived-blogs>
            </div>
            <div class="col_3" style="position: relative;">
                <div class="side_bar_home">
                    <div class="crick_score">
                        <h5 class="side_title"><span class="material-symbols-outlined">
                                military_tech
                            </span> Ranking</h5>
                        <app-cricket-ranking></app-cricket-ranking>
                        <div class="category" style="margin-top: 20px;">
                            <h5 class="side_title"><span class="material-symbols-outlined">
                                    emoji_events
                                </span> Current Series</h5>
                            <ul class="category_menu">
                                <li>ICC World Cup</li>
                                <li>Womens Big Bash League</li>
                                <li>NZ Women tour of SA</li>
                                <li>West indies Women tour of Australia</li>
                                <li>The Marsh Cup</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>