@import 'src/app/global.scss'; 

.page-not-found {
    padding: 70px 0px;
}
h1 {
    font-size: 3.8rem;
}
.page-not-found{
    text-align: center;
}
h2 {
    font-size: 2rem;
    margin-top: -19px;
    margin-bottom: 2em;
}
button {
    padding: 11px 22px;
    font-size: 1.2rem;
    background: $accent-color;
    color: white;
    border-radius: 10px;
    border: none;
}